.refresh{

	background-color:brown;
  padding-left: 43%;
}

.container{

	background-color: antiquewhite;
}

.bg{
	background-image: url("images/0VttnZV.png");
	  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}